@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 24px;
    color: black;
    background-color: white;
  }

  .logo-welcom {
    position: absolute;
    width: 458px;
    height: 352px;
    left: 411px;
    top: 116px;
}

  .First-screen{
    width: 1200px;
    height: 767px;
    margin-top: 65px;
    background-image: url(/images/img/index-background.jpg);
    background-repeat: no-repeat;
    
  }

  .city-description{
    position: absolute;
    width: 1200px;
    height: 282px;
    left: 40px;
    top: 550px; 
    text-align: center;
  }
  
  .page-header{
    background: white;
    color: black;
    position: absolute;
    width: 1060px;
    height: 65px;
    left: 110px;
    top: 0px;
   
    
  }

  .navigation-link{
    font-family: "PT Sans";
    color: black;
    background-color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    }

    .navigation-item{
      display: inline-block;
      left: 110px;
      top: 0px;
      padding: 5px;
      
    }
    /*list*/
    .advantages-list{
      text-align: center;
      font-family: "PT Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
    }
   

  .advantages-item-1{
    position: ;
    width: 400px;
    height: 384px;
    top: 832px;
    background: #83B3D3;

  }
  .advantages-item-2{
    width: 400px;
    height: 384px;
    left: 40px;
    top: 1216px;
    background: rgba(131, 179, 211, 0.12);
  }

  .advantages-item-3{
    width: 400px;
    height: 384px;
    left: 440px;
    top: 1216px;
    background: #ffffff;
  }

  .advantages-item-4{
    width: 400px;
    height: 384px;
    left: 440px;
    top: 1216px;
    background: rgba(131, 179, 211, 0.12);
  }

  .advantages-item-5{
    width: 400px;
    height: 384px;
    left: 440px;
    top: 1216px;
    background: #83B3D3;
  }

  .advantages-item-6{
    width: 400px;
    height: 384px;
    left: 440px;
    top: 1216px;
    background: rgba(131, 179, 211, 0.12);
  }

  .advantages-item-7{
    width: 400px;
    height: 384px;
    left: 440px;
    top: 1216px;
    background: rgba(131, 179, 211, 0.2);
  }

  .advantages-item-8{
    width: 400px;
    height: 384px;
    left: 440px;
    top: 1216px;
    background: rgba(131, 179, 211, 0.12);
  }

  .img-city{
    position: absolute;
    width: 800px;
    height: 384px;
    left: 448px;
    top: 853px;
  }

  .img-bridge{
    position: absolute;
    width: 800px;
    height: 384px;
    left: 448px;
    top: 1663px;
  }

  .services{
    text-align: center;
    
    width: 1200px;
    height: 417px;
    background: white;
  }

  .services-link-button{
    
    width: 575px;
    height: 60px;
    background: #756257;
    border-radius: 10px;
    }

    .subscribtion-proposal{
      width: 1200px;
      height: 411px;
      background-image: url(/images/img/background.jpg);
    }

    .page-footer{
      width: 1200px;
      height: 120px;
      background: #FFFFFF;
    }

    .Social-networks{
      float: left;
      padding: 20px;
      background: #FFFFFF;
      }


    /*стили каталога*/
    .filter-catalog{
      background-image: url(/images/img/background.jpg);
      background-repeat: no-repeat;
      
    }
 

    .product-list{
    width: 1058px;
    height: 1040px;
  }

  .section-button-load-more{
    position: absolute;
    width: 619.83px;
    height: 60px;
    left: 330px;
    top: 1568px;

    text-align: center;
    
    background: #83B3D3;
    border-radius: 4px;

  }

  .subscribtion-proposal-catalog{
    position: absolute;
    width: 800px;
    height: 224px;
    left: 240px;
    top: 1833px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    

  }